<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Calendário</h1>
            <div class="form">
                <form action="/login" method="post">
                    <input type="email" name="email" id="email" placeholder="email" required><br>
                    <input type="password" name="password" id="password" placeholder="Password" required><br>
                    <input type="submit" value="Login" id="submit">
                </form>
                <p>Dont have an account? <a href="{{ url_for('register') }}">sign in</a></p>
            </div>
        </div>
    </div>
</body>



</html>