<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Agenda </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/calendar.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">
</head>
</head>

<body>

    <div class="modal" tabindex="-1" id="testedpc">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="calendar">
        <div class="month">
            <i class="fa fa-bars"></i>
            <i class="fa fa-angle-left prev"></i>
            <div class="date">Janeiro 2023</div>
            <i class="fa fa-angle-right next"></i>
            <i class="fa fa-user"></i>
        </div>
        <div class="weekdays">
            <div>D</div>
            <div>S</div>
            <div>T</div>
            <div>Q</div>
            <div>Q</div>
            <div>S</div>
            <div>S</div>
        </div>
        <div class="days">
            <!-- Days are added with js-->
        </div>
    </div>
    <button class="add-event">
        <i class="fas fa-plus"></i>
    </button>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="../static/js/calendar.js"></script>
    <script src="{{url_for('static', filename='js/calendar.js')}}"></script>
</body>

<script>

    var modalTitle = document.getElementById("modalTitle");

    var modalvisualizar = new bootstrap.Modal(document.getElementById("testedpc"), {
        keyboard: true,
        backdrop: 'static',
        focus: true
    });

    function teste() {
        modalvisualizar.show();
    }
</script>

</html>