<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css')}}">
    <link rel="stylesheet" href="../static/css/change_password.css">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Usuário</h1>
            <br>
            <div class="form">
                <form action="/change_password" method="post">
                    <input type="hidden" name="id" id="id" value="{{ current_user.id }}">
                    <input type="password" name="oldPass" id="oldPass" placeholder="Old pasword" required><br>
                    <input type="password" name="newPass" id="newPass" placeholder="New password" required><br>
                    <input type="submit" value="Salvar" id="submit">
                </form>
            </div>
        </div>
    </div>
</body>
<script>

</script>

</html>