<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>

<body>
    <form action="/create_event" method="post">
        <label for="nome">nome</label>
        <input type="text" name="nome" id="nome"><br>
        <label for="data">Data</label>
        <input type="date" name="data" id="data"><br>
        <label for="Hora">Hora</label>
        <input type="time" name="Hora" id="Hora"><br>
        <label for="descricao">descricao</label>
        <input type="text" name="descricao" id="descricao"><br>
        <label for="notificar">notificar</label>
        <input type="checkbox" name="notificar" id="notificar"><br>
        <input type="submit" value="cadastrar">
    </form>

    <!-- 
    class Evento(db.Entity):
        id = PrimaryKey(int, auto=True)
        nome = Required(str)
        data = Required(date)
        hr_inicio = Required(datetime)
        hr_fim = Required(datetime)
        descricao = Required(str)
        notificar = Required(bool)
        status = Required(int)
        usuario = Required(Usuario) -->

</body>

</html>