<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Calendário</h1>
            <div class="form">
                <form action="/register" method="post">
                    <input type="text" name="name" id="name" placeholder="name" required><br>
                    <input type="email" name="email" id="email" placeholder="email" required><br>
                    <input type="password" name="password" id="password" placeholder="Password" required><br>
                    <input type="date" name="birthday" id="birthday" placeholder="birthday" required><br>
                    <input type="submit" value="Register" id="submit">
                </form>
            </div>
        </div>
    </div>
</body>

</html>